/* Universal Styles */
* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
  }
  
  body {
    margin: 0;
    background-color: rgb(231, 231, 231);
    color: #1b2522;
  }
  
  /* Header and Hero sections */
  .header-background-image {
    height: 80vh;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position-x: 40%;
    background-position-y: center;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    color: white;
    position: relative; 
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1b2522;
    padding: .5rem 1rem;
  }
  
  .nav-top {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .logo {
    width: 500px;
    position: absolute;
    top: 50px;
    opacity: 0.95;
    border-radius: .3em;
    box-shadow: 0 0 .7em whitesmoke;
  }
  
  .nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
  }
  
  .nav-list a {
    text-decoration: none;
    margin-left: 1rem;
    color: white;
  }
  
  .nav-list a:hover {
    color: #ccc;
  }

  .title {
    font-size: 5.50rem;
    margin: 0;
    padding-top: 50px;
  }

  .sub-title {
    font-size: 2.5rem;
    margin: .3rem;
    margin-bottom: 1rem;
  }

  .btn {
    background-color: hsl(200, 100%, 50%);
    color: white;
    border-radius: 10000px;
    padding: .25rem 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
  }
  
  .btn:hover,
  .btn:focus {
    background-color: hsl(200, 100%, 40%);
  }

  @media (min-width: 275px) and (max-width: 549.08px) {
    .nav {
      justify-content: center;
    }

    .nav-list a {
      font-size: 14px;
    }
    .logo {
      width: 275px;
    }
  }

  @media (min-width: 550px) and (max-width: 749.08px) {
    .logo {
      width: 325px;
    }

    /* not using until website has more media
    .hidden {
        display: none;
    } */
  }

  @media (max-width: 750px) {
    /* not using til website has more media
    .title {
        font-size: 3rem;
        padding-top: 33px;
    }
    .sub-title {
        font-size: 1.25rem;
    } */
  }

  @media (min-width: 7750.02px) and (max-width: 1000px) {

  }

  @media (min-width: 1000.02px) {
        .header-background-image {
            height: 70vh;
        }
  }
  

  /* Services Section */
  #services {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .section-title {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
    color: black;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 450px));
    justify-content: center;
    row-gap: 10px;
    column-gap: 50px;
  }
  
  .services-grid-item {
    display: flex;
    align-items: center;
  }
  
  .services-grid-item .services-icons {
    width: 50px;
    margin-right: 1rem;
  }

  .standouts {
    font-weight: bold;
  }
  
  /* Call to Action Contact Section */
  .section-accent {
    background-color: #0af;
    padding: 1.5rem;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }

  .contact-section-title {
    margin-top: 2rem;
    text-align: center;
  }
  
  .contact-us-link a {
    color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10000px;
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
  }
  
  .contact-us-link a:hover {
    background-color: hsl(200, 100%, 60%);
    box-shadow: 0 0 5px 0 #ccc;
  }
  
  .contact-us-now-sub-title {
    color: white;
    font-size: 1.05em;
    text-align: center;
    padding-top: 10px;
    /* max-width: 500px; --- not sure if I want to set a specific width yet*/ 
  }

  .standouts-italics {
    font-family: roboto;
    font-weight: bold;
    font-style: italic;
  }

  @media (max-width: 550px) {
    .standouts-italics {
        font-size: 0.9em;
    }
  }

  /* Under call to Action Portfolio grid */
  .portfolio-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 10px;
    align-items: stretch;
    justify-items: center;
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    background-color: #0af;
    margin: 0;
    padding: 10px;
}

.portfolio-grid-container img {
    border: 1px solid white;
    max-width: 100%;
    border-radius: 15px;
}

.portfolio-grid-container .rusty-img, 
.portfolio-grid-container .cleaned-rusty-img,
.portfolio-grid-container .blurred-bearing {
    width: 188px;
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}

  /* Pricing Section */
  .section-pricing {
    margin: 0;
    margin-bottom: 2rem;
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    color: white;
  }

  .section-grey-accent {
    /* background-color: hsl(0, 0%, 45%); */
    padding: 1.5rem;
    /* border-radius: .3em; */
    color: black;
  }

  .pricing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 450px));
    justify-content: center;
    row-gap: 10px;
    column-gap: 50px;
  }

  .pricing-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing-grid-item img {
    width: 200px;
    margin-right: 1rem;
    border-radius: 15px;
    box-shadow: 3px 5px .7em whitesmoke;
  }

  .pricing-grid-item .casting-reel {
    /* width: 250px; */
  }
  
  .section-accent {
    background-color: #0af;
    padding: 1.5rem;
    border-radius: .3em;
  }

  p.fresh-water,
  p.salt-water {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .added-cost {
    background-color: rgb(211, 211, 211);
    text-align: center;
  }

  .added-cost p {
    margin: 0;
    padding: 5px;
  }

  /* About Section */
  .about-section-title {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
    color: black;
  }
  
  .about-us-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 450px));
    justify-content: space-evenly;
    row-gap: 10px;
    column-gap: 50px;
    padding-bottom: 3rem;
  }
  
  .about-grid-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .about-grid-item img {
    width: 205px;
    /* padding-right: 10px; */
    border-radius: 15px;
    margin-right: 10px;
  }

  .about-grid-item .bald-guy-img {
    height: 205px;
    border-radius: 15px;
    margin-right: 10px;
  }

  .about-section {
    margin-top: 2rem;
  }
  
  /* Form Section */
  .form {
    max-width: 900px;
    margin: 0 auto; /* this is some type of trick to center w/o using fancy flex box tricks */
  }
  
  .form label {
    color: black;
    font-weight: bold;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    margin-top: .25rem;
    outline: none;
    border: 1px solid #1b2522;
    border-radius: .3ems;
    padding: .5rem;
    color: inherit;
    font-family: inherit;
  }
  
  .form textarea {
    resize: vertical;
    min-height: 75px; /* using min and max height to ensure that the textarea box can't be changed so much that it messes with the other surrounding elements */
    max-height: 200px;
  }
  
  .form input:focus,
  .form textarea:focus {
    border-color: #0af;
  }
  
  .btn-container {
    text-align: end; /* pushing the send submit button all the way to the end/right of its parent element */
  }
  
  .btn-square {
    border-radius: .3em;
  }

  .form-section {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2rem;
  }

  /* Footer Section */
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b2522;
    padding: .5rem 1rem;
    color: white;
  }
  
  .footer-logo {
    width: 200px;
    border-radius: .3em;
  }

  .footer-closer {
    margin: 0;
    padding: 0;
    display: flex;
  }

  @media (min-width: 275px) and (max-width: 749.08px) {
    .hidden {
        display: none;
    }
    .footer-container {
      height: 50px;
      justify-content: center;
    }
  }

  @media (max-width: 750px) {
   
  }