* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
  }

body {
    background-color: rgb(231, 231, 231);
}

#top-middle {
    display: flex;
    justify-content: center;
}

.company-logo {
    height: 35vh;
    border-radius: 10px;
    
  }

  .thank-you-container {
    display: flex;  
    justify-content: center;
    
  }

  .thank-you-msg {
    font-size: 3em;
  }

  .follow-up-container {
    display: flex;  
    justify-content: center;
  }

  .contact-details-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

  }

  .contact-item img {
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
  }

  @media (min-width: 275px) and (max-width: 550px) {
    .company-logo {
      height: 13vh;
    }

    .thank-you-msg {
      font-size: 2.25em;
    }

    .contact-item img {
      width: 30px;
    }
  }

  @media (min-width: 550.02px) and (max-width: 750px) {
    .company-logo {
        height: 21vh;
    }

    .thank-you-msg {
      font-size: 2.5em;
    }

    .contact-item img {
      width: 40px;
    }
}

  @media (min-width: 750.02px) and (max-width: 900px){
    .company-logo {
        height: 25vh;
    }
    .thank-you-msg {
      font-size: 2.75em;
    }

  }